*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
}
.bg{
    background-image: url("images/Bg.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    place-items: center;
}
.container{
    width: 40%;
    height: 90%;
    background-color: #191b28;
}
.container .result{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: bottom;
    align-items: center;
    position: relative;
}
.container .result span:first-child{
    position: absolute;
    color: #fbc30a;
    margin-left: 2.5rem;
    bottom: 1rem;
    font-size: 2rem;
    display: block;
}
.container .result span:nth-child(2){
    color: #fcfefd;
    font-size: 2.5rem;
    position: absolute;
    bottom: 1rem;
    right: 0;
    margin-right: 2rem;
}
.container .result::after{
    position: absolute;
    content:'';
    display:block;
    background-image:url(images/shadow-sm.png);
    height: 0.1rem;
    width: 100%;
    border-radius: 50%;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.container .calculation{
    width: 100%;
    height: 15%;
    display: grid;
    place-items: right;
}
.container .calculation input{
    outline: none;
    border: none;
    color: #fcfefd;
    background-color: #191b28;
    font-size: 1.7rem;
    margin: 1rem 2rem 0rem 2rem;
    text-align: right;
}
.container .buttons{
    width: 100%;
    height: 60%;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.container .buttons table{
    width: 100%;
    height: 100%;
    border-spacing:1.5rem;
    border-collapse:separate;
}
.container .buttons table td{
    text-align: center;
}
.ope-btn{
    background-color: #56c9da;
    color: #fcfefd;
    border-radius: 0.25rem;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.ope-btn:hover{
    background-color: #fcfefd;
    color: #56c9da;
}
.backSpace{
    background-color: #fbc30a;
    color: #fcfefd;
    border-radius: 0.25rem;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.backSpace:hover{
    background-color: #fcfefd;
    color: #fbc30a;
}
.equal{
    background-color: #fbc30a;
    color: #fcfefd;
    border-radius: 0.25rem;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.equal:hover{
    background-color: #fcfefd;
    color: #fbc30a;
}
.num-btn{
    background-color: #1e2336;
    color: #fcfefd;
    border-radius: 0.25rem;
    width: 2.8rem;
    height: 2.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.num-btn:hover{
    background-color: #fcfefd;
    color: #1e2336;
}

@media (min-width : 500px) and (max-width : 1024px){
    .container{
        width: 75%;
        height: 80%;
    }
}
@media (min-width :300px) and (max-width : 480px){
    .container{
        width: 100%;
        height: 100%;
    }
    .container .calculation{
        display: flex;
        justify-content: right;
    }
    .container .calculation input{
        width: 100%;
    }
}